body
{
    background-color: rgb(2, 66, 66);
    font-weight: bold;
}
.login
{
    width: 300px;
    margin: 100px auto;
}
.login input
{
    margin-bottom: 10px;
}
.login .form-control
{
    background-color: #E5E5E5;
}
.login .btn
{
    background-color: #008dde;
    width: 300px;
}
.login h5
{
color: #888;
}
/* .pos
{
    margin: auto;
} */
.bg a
{
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
}
.ch
{
    color: whitesmoke;
}
.ch:focus,
.ch:hover
{
    background-color: teal;
   
}
h1
{
 font-size: 55px;
 margin: 16px;
 font-weight: bold;
 color: #888;
}
.gl 
{
    background-color: #666;
}
.form-control
{
    position: relative;
}
.astrix
{
    font-size: 20px;
    position: absolute;
    right: 682px;
    top: 183px;
    color: #D20707;
}
.show-pass
{
    position: absolute;
    top: 275px;
    right: 690px;
}
.main-table tr:first-child td
{
 background-color: #333;
 color: #fff;
}
.main-table td
{
 background-color: #FFF;
 vertical-align: middle;
 /* color: #fff; */
}
.main-table
{
    box-shadow: 0 3px 10px #ccc;
}
.main-table .btn
{

 padding: 3px 10px;

}
lable
{
 color: whitesmoke;
}
.row
{
    color: black;
}
.home-stats .stat
{
    
    color: white;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.home-stats .stat a
{
    color: whitesmoke;
}
.home-stats .stat a:hover
{
    text-decoration: none;
}
.home-stats .stat span
{
    display: block;
    font-size: 60px;
}
.latest
{
    margin-top: 40px;
}
.home-stats .st-member
{
    background-color: #3498db;
}
.home-stats .st-pend
{
    background-color: #c0392b;
}
.home-stats .st-item
{
    background-color: #d35400;
}
.home-stats .st-com
{
    background-color: #8e44ad;
}
.home-stats i
{
    position: absolute;
    top: 60px;
    left: 35px;
    font-size: 55px;
}
.home-stats .info
{ 
  float: right;
}
.latest-user
{
    margin-bottom: 0;
}
.latest-user li
{
    padding: 5px 0;
    overflow: hidden;
    
}
.panel-heading
{
    color: whitesmoke;
}
.mngmember img
{
   width: 105px;
   height: 45px;
}
.latest-user a
{
   
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    
}
.btn 
{
    margin-left:  5px ;
}
li .btn
{
    width: 200px;
    height: 50px;
    
}
li .h
{
    width: 406px;
    height: 60px;
    
}

.latest-user i
{
    margin-left: 8px;
}
.category .cat
{
    color: wheat;
}
.category .cat
{
    position: relative;
    overflow: hidden;
    padding:  15px;
}
.category .cat:hover .hidden-btn 
{
    right: 10px;
}
.category .cat:hover 
{
  background-color: darkslategrey;
  opacity: 0.9;
}
.hidden-btn 
{
    position: absolute;
    top: 20px;
    right: -200px;
    transition: all 0.8s ease-in-out;
}
.ordering
{
    text-align: center;
}
.ordering a
{
    text-decoration: none;
}
.ordering .active
{
    color: deeppink;
}
h3
{
    margin: 0;
    cursor: pointer;
}
.full-view p
{
   margin: 10px 0;
}
.panel
{
 color: white;
}
.category .cat .visability
{
background-color: #c0392b;
color: #FFF;
padding: 4px 6px;
margin-right: 10px;
border-radius: 7px;
}
.category .cat .comment
{
background-color: #2c3e50;
color: #FFF;
padding: 4px 6px;
margin-right: 10px;
border-radius: 7px;
}
.category .cat .ads
{
background-color: #d35400;
color: #FFF;
padding: 4px 6px;
margin-right: 10px;
border-radius: 7px;
}
